.navbar {
min-height: 90px;
}

.navbar-brand {
padding: 0 15px;
height: 90px;
line-height: 90px;
}

.navbar-toggle {
/* (80px - button height 34px) / 2 = 23px */
margin-top: 28px;
padding: 9px 10px !important;
}

@media (min-width: 768px) {
.navbar-nav > li > a {
/* (80px - line-height of 27px) / 2 = 26.5px */
padding-top: 31.5px;
padding-bottom: 31.5px;
line-height: 27px;
}
}
